---

import MainLayout from "../layouts/MainLayouts.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<body>
	<MainLayout>
		<Header/>
		<div class="content">
			<h1>Shop</h1>
		</div>
		<div class="shop"></div>
		<template>
			<article>
				<div class="shop-class">
					<a class="shop-view" href="Kommer selv">
						<img src="#" alt="" />
					</a>
				</div>
			  
			</article>
		</template>
		<Footer/>
	</MainLayout>	
</body>



<style>

	.shop {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: var(--content);
		margin: 0 auto;
		height: 950px;
	}

	

	.weddings {
		left: 0px;
		width: 300px;
    	top: 400px;
	}

	.events {
		width: 400px;
    	right: 0;
    	top: 50px;
	}

	.installations {
		right: 400px;
    	width: 400px;
    	top: 600px;
	}

	.photoshoot {
		top: 400px;
		right: 0px;
		width: 400px;
	}

	.subscription-bouquets {
	    top: 150px;
		width: 300px;
    	left: 400px;
	}

	.weekly-bouquets {
		left: 50px;
    	top: 50px;
		width: 300px
	}

	.shop-class {
		position: absolute;
	}

	.shop-class:hover {
		animation: pulse 1s infinite;
	}




	@media (max-width: 800px) {
		.shop-class {
		position: inherit;
		width: 100%;
		}
		.shop {
			margin: 10px;
			height: 280vh;
		}
	}
	
	
	
</style>




<script>
	
	

	fetch(`https://ctlcisrydaldajnrvqdf.supabase.co/rest/v1/rhod_flowers`, {
  method: "GET",
  headers: {
    // Angiver API-nøglen for at få adgang til API'en.
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bGNpc3J5ZGFsZGFqbnJ2cWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2OTM0MTYsImV4cCI6MjAzMTI2OTQxNn0.TCoM-Tn4YqUzGvlq4dD7yyxrrihtZwJcT1QkNriiias",
  },
})
  .then((response) => response.json())
  .then(dateRecevied);

function dateRecevied(data) {
  //We have date
  console.log(data);
  data.forEach(shop);
}

function shop(shopView) {
  console.log(shopView);
  const template = document.querySelector("template").content;
  const clone = template.cloneNode(true);
  const id = shopView.id;
  const name = shopView.name;


  
    clone.querySelector(".shop-view").href = `${name}.html?id=${id}`


    clone.querySelector("img").src = shopView.shop;

	clone.querySelector(".shop-class").classList.add(`${name}`);

  const parentElement = document.querySelector(".shop");
  parentElement.appendChild(clone);
}







// // Opretter en GET-anmodning til en ekstern API for at hente svampe data baseret på sæsonen.
// fetch(`https://ctlcisrydaldajnrvqdf.supabase.co/rest/v1/rhod_flowers?${shopView.name}`, {
//   method: "GET",
//   headers: {
//     // Angiver API-nøglen for at få adgang til API'en.
//     apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bGNpc3J5ZGFsZGFqbnJ2cWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2OTM0MTYsImV4cCI6MjAzMTI2OTQxNn0.TCoM-Tn4YqUzGvlq4dD7yyxrrihtZwJcT1QkNriiias",
//   },
// })
//   // Behandler svaret fra API'en som JSON.
//   .then((response) => response.json())

//   // Kalder funktionen 'dateRecevied' med de modtagne data.
//   .then(dateRecevied);

// // Funktionen, der udføres, når dataene modtages fra API'en.
// function dateRecevied(data) {
//   // Udskriver de modtagne data til konsollen.
//   console.log(data);

//   // Kalder funktionen 'svampeliste' for hvert element i de modtagne data.
//   data.forEach(shopView);

// }

// // Funktionen, der bruges til at generere HTML-elementer baseret på svampedataene og tilføje dem til DOM'en.
// function shopView(shopView) {
//   // Udskriver svampe-dataene til konsollen.
//   console.log(shopView);

//   // Henter en klon af et HTML-template fra DOM'en.
//   const template = document.querySelector("template").content;

//   // Kloner det valgte template.
//   const clone = template.cloneNode(true);

//   // Gemmer ID'en på svampen i en variabel.
//   const id = shopView.id;

  

//   // Opdaterer linket for hver svamp for at pege på en individuel side for den pågældende svamp.
//   clone.querySelector(".shop-view").href = shopView.name;

// 	//Får class på hvert billede så vi kan placere dem med position
//   clone.querySelector(".shop-class").classList.add(`${shopView.name}`);


//   // Opdaterer billedkilden for hver svamp.
//   clone.querySelector("img").src = shopView.shop;

//   // Tilføjer det klonede HTML-element til DOM'en.
//   const parentElement = document.querySelector(".shop");
//   parentElement.appendChild(clone);
// }

</script>



