---
const { imageOne, imageTwo, imageThree, imageFour, imageFive, imageSix, imageSeven, imageEight } = Astro.props;
---

<div class="slideshow-container">
    <div class="slides">
      <img src={imageOne} alt="Slide 1">
      <img src={imageTwo} alt="Slide 2">
      <img src={imageThree} alt="Slide 3">
      <img src={imageFour} alt="Slide 4">
      <img src={imageFive} alt="Slide 5">
      <img src={imageSix} alt="Slide 6">
      <img src={imageSeven} alt="Slide 7">
      <img src={imageEight} alt="Slide 8">
    </div>
    <button aria-label="Prev" class="slider-button prev" onclick="plusSlides(-1)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/> </svg></button>
    <button aria-label="Next" class="slider-button next" onclick="plusSlides(1)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/> </svg></button>
  </div>
  
<style>

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  margin-bottom: 40px;
}

.slides {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  height: 500px;
}

.slider-button {
    position: absolute;
    border: 0;
    background: inherit;
    font-size: 30px;
    top: 250px;
}

.slider-button svg {
  color: var(--primary-color);
  height: 40px;
}

.slider-button:hover svg {
    cursor: pointer;
    animation: pulse 1s infinite
}

.prev {
    left: 10px; 
    transform: rotate(90deg);
}

.next {
    right: 10px;   
    transform: rotate(-90deg);
}


.slides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}


</style>


<script>
 
 document.addEventListener("DOMContentLoaded", function() {
  let slideIndex = 0;
  showSlides(slideIndex);

  function showSlides(n) {
    let slides = document.querySelectorAll('.slides img');
    if (n >= slides.length) {slideIndex = 0}
    if (n < 0) {slideIndex = slides.length - 1}
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex].style.display = "block";
  }

  window.plusSlides = function(n) {
    showSlides(slideIndex += n);
  }
});


</script>